:root {
  --main-color: red;
  --header-color: black;
  --beige: beige;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 16px;
}

html {
  background-color: hsla(229, 34%, 42%, 1);
}
h2 {
  margin-top:0.5rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

ul {
  padding:0;
}

li { 
  list-style: none;
}

a {
  color: blue;
  text-decoration: none;
  & :hover {
    text-decoration: underline;
  }
}

@media print {
  body {
    padding: 0;
  }
}