:root {
  --main-color: red;
  --header-color: black;
  --beige: beige;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 16px;
}

html {
  background-color: hsla(229, 34%, 42%, 1);
}
h2 {
  text-align: center;
}
